<% @skills.select(:skilltype).distinct.pluck(:skilltype).each do |skilltype| %>


  <div class="col col-sm-12">
  <h3 class="subheading"><%= skilltype.titleize %></h3>


      <% len = @skills.where(skilltype: skilltype).length %>
      <% colsize = 4 %>
      <% @skills.order(title: :asc).where(skilltype: skilltype).each_with_index do |skill, index| %>

          <% if index%3 == 0 %>
            <div class="row">
          <% end %>

          <% if len-index <= len%3
              colsize = 12/(len%3)
              end %>


          <div class="col col-sm-<%= colsize %> center skill">
            <%= skill.title %>

            
           <% if is_admin? %>
            <td><%= link_to 'Show', skill %></td>
            <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
            <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
            <% end %>
          </div>

          <% if index%3 == 2 %>
            </div>

          <% end %>


      <% end %>

</div>

<% end %>

<br>

<% if is_admin? %>
<%= link_to 'New Skill', new_skill_path %>
<% end %>
    