<br>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<h4 class="subheading">Languages</h4>
<table class="skill">
  <tbody>
    <% @skills.order(proficiency: :desc, title: :asc).where(skilltype: "languages").each do |skill| %>

        <tr data-toggle="tooltip" title='<%= skill.description %>' data-placement="auto bottom" >
          <td class="left">
          <%= skill.title %>
          </td>

          <td class="right hvr-grow">
              <% skill.proficiency.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>

            <% (5-skill.proficiency).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %>
          </td>
          
          <% if is_admin? %>
          <td><%= link_to 'Show', skill %></td>
          <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
          <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
          <% end %>


        </tr>

    <% end %>
  </tbody>
</table>

<br>

<h4 class="subheading">Software</h4>

<table class="table-condensed skill">
  <tbody>
    <% @skills.order(proficiency: :desc, title: :asc).where(skilltype: "software").each do |skill| %>

        <tr>
          <td class="left">
          <%= skill.title %>
          </td>

          <td class="right hvr-grow">
              <% skill.proficiency.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>

            <% (5-skill.proficiency).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %>
          </td>
          
          <% if is_admin? %>
          <td><%= link_to 'Show', skill %></td>
          <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
          <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
          <% end %>


        </tr>

    <% end %>
  </tbody>
</table>
 

<br>

<% if is_admin? %>
<%= link_to 'New Skill', new_skill_path %>
<% end %>