<div class="home">
<div class="page-header">
	<h1>Boshen Cui</h1>

	<h2> CS/BBA Student, Software Developer</h2>
		<%= render partial: 'pages/about' %>
</div>


<div class="row">
	<h2>Work Experience</h2> 
	<%= render partial:'experiences/home_index' %>
	<hr>

</div>	
<div class="row">
	<h2>Projects</h2>
	<%= render :partial=>'projects/home_index' %>
</div>
	
<div class="row">
	<hr>	

	<h2>Skills</h2>
	  
	<%= render partial:'skills/index' %>
</div>

</div>
<div class="row">
	<hr>

	<div id="contact">
		<%= render :template =>'pages/contact' %>
	</div>
</div>
</div>



