<div class="page-header">
	<h1>Boshen Cui</h1>

	<h2> CS/BBA Student, Developer in Training, Data Enthusiast</h2>

	<%= image_tag("profile_pic_with_bg.png", id: "profile_pic", class: "img-circle") %>
</div>

<div class="row">
		<%= render partial: 'pages/about' %>

	<hr>	

</div>


<div class="row">
	<h2>Work Experience</h2> 

		
	<%= render partial:'experiences/home_index' %>

	<hr>

</div>	
<div class="row">
	<h2>Side Projects</h2> 
	<%= render :partial=>'projects/home_index' %>
</div>
	
<div class="row">
	<hr>	

	<h2>Skills</h2>
	  
	<%= render partial:'skills/index' %>
</div>

</div>
<div class="row">
	<hr>

	<div id="contact">
		<%= render :template =>'pages/contact' %>
	</div>
</div>



