<div class = "container-fluid">
	<div class="page-header">
		<h1>Boshen Cui</h1>

		<h2> CS/BBA Student, Developer in Training, Data Enthusiast</h2>

		<%= image_tag("profile_pic_with_bg.png", id: "profile_pic", class: "img-circle") %>
	</div>


	<div class="row">
	  <div class="col-sm-4" id="Experience">
	  	<h3>Work Experience</h3>

	  	<%= render partial:'experiences/home_index' %>
	  </div>

	  <div class="col-sm-4" id="Projects">
	  	<h3>Side Projects</h3>

     	 <%= render :partial=>'projects/home_index' %>
         

	  </div>

	  <div class="col-sm-4" id="Languages">
	  	<h3>Languages and Software</h3>
	  
	  	<%= render template:'skills/index' %>
	  </div>
	</div>

	<hr>

	<div id="contact">
		<%= render :template =>'pages/contact' %>
	</div>


</div>



