<% project = show_short %>

<h4>
<%= project.name %>
</h4>
<p class="thumbnail">
<%= project.thumbnail.html_safe %>
</p>

<p>
	<%= (Truncato.truncate project.description, max_length: 150, count_tags: false, filtered_tags: ['img'], tail: "...").html_safe %>
	<br>
	<%= link_to raw('<strong>See Full Description</strong>'), 'projects#'+project.name.delete(' ').downcase %>
</p>

<p>
<strong>Languages:</strong>
<%= project.languages.html_safe %>
</p>

<p>
<%= project.links.html_safe %>
</p>


<% if is_admin? %>
<td><%= link_to 'Edit', edit_project_path(project) %></td>
<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>