<% project = show %>

<span class="anchor" id=<%= project.name.delete(' ').downcase %> %>></span>
<h3 class="left">
<%= project.name %>
</h3>

<p>
<%= project.description.html_safe %>
</p>

<p>
<strong>Gallery:</strong>
</p>
<div class="center">
<%= project.gallery.html_safe %>
</div>

<p>
<strong>Languages:</strong>
<br>
<%= project.languages.html_safe %>
<br>
<strong>Links:</strong>
<br>
<%= project.links.html_safe %>
</p>


<% if is_admin? %>
<td><%= link_to 'Edit', edit_project_path(project) %></td>
<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br><br>