<% experience = show %>

<span class="anchor" id=<%= experience.title.delete(' ').downcase %>></span>
<h3 class="left"><%= experience.title %></h3>

<h5 > 
  <%= parse_date(experience.start) %> to <%= parse_date(experience.end) %>
</h5>

<p><%= experience.description.html_safe %></p>

<br>

<strong>Links:</strong>
<p><%= experience.links.html_safe %></p>


<% if is_admin? %>
  <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
  <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<br>